<c-card class="mb-4">
    <c-card-header>
      Cambio de Password
    </c-card-header>
    <c-card-body>
      <c-input-group class="mb-3">
        <span cInputGroupText>
          <svg cIcon name="cilLockLocked"></svg>
        </span>
        <input
          autoComplete="current-password"
          cFormControl
          placeholder="Código de validación"
          type="text"
          id="passOld"
        />
      </c-input-group>
      <c-input-group class="mb-4">
        <span cInputGroupText>
          <svg cIcon name="cilLockLocked"></svg>
        </span>
        <input
          autoComplete="current-password"
          cFormControl
          placeholder="Nueva Contraseña"
          type="password"
          id="passNew"
        />
      </c-input-group>
      <c-input-group class="mb-4">
        <span cInputGroupText>
          <svg cIcon name="cilLockLocked"></svg>
        </span>
        <input
          autoComplete="current-password"
          cFormControl
          placeholder="Confirmar Contraseña"
          type="password"
          id="passCon"
        />
      </c-input-group>
      <c-row>
        <c-col xs="6">
          <button cButton class="btn-imagina" (click)="grabar()">
            Cambiar Contraseña
          </button>
        </c-col>
        <c-col xs="6">
          <button cButton class="btn-imagina" (click)="salir()">
            Salir
          </button>
        </c-col>
      </c-row>
      <br/>
      <c-row *ngIf="errorValidacion">
        <c-col xs="12">
          <c-alert color="danger"> {{ msgError }}</c-alert>
        </c-col>
      </c-row>
      <c-row *ngIf="flagExito">
        <c-col xs="12">
          <c-alert color="success"> {{ msgError }}</c-alert>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
  <!-- Modal Cargando ... -->
<div tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [ngClass]="(flagLoad) ? 'modal modalApp' : 'modal fade modal-md'">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">                  
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12" style="text-align: center !important;">
                  <img src="../../../../assets/images/loading-9414_256.gif" alt="Espera " style="max-width: 833px; vertical-align: middle !important;">
                </div>                              
            </div>
        </div>                  
      </div>
    </div>
  </div>